main {
    width: auto;
}

body {
    margin: 0;
}

.logo {
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 15px;
}

.localisation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #dbdbdb;
    margin-top: 10px;
    background-color: #eaeaea;
    font-size: 16px;
    font-weight: 500;
    font-family: $font-primary;
    padding: 25px 20px;

    & i {
        margin-right: 5px;
        color: black;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    background-color: #F6F6F6;
    padding-bottom: 40px;
}

.fonction {
    text-align: center;
}

.fonction-list {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin: 0 15px;
    counter-reset: fonction_list;
    & .fonction-propriété {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 60px;

        cursor: pointer;

        position: relative; // Requis par la puce de numérotation
    }

    & .fonction-propriété::before {
        counter-increment: fonction_list;
        content: counter(fonction_list);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;

        width: 30px;
        height: 30px;
        border-radius: 1000px;
        background-color: $color-primary;
    }

    & .fonction-propriété:hover i {
        opacity: 1;
        color: $color-primary
    }

    & p {
        margin-left: 30px;
        font-size: 16px;
    }

    & i {
        align-items: flex-start;
        margin-right: 30px;
        opacity: 0.5;
        display: inline;
    }
}



.fonction-propriété {
    align-content: center;
    border-radius: 20px;
    background-color: #f6f6f6;
    margin-bottom: 25px;
    box-shadow: 5px 5px 5px 0px #e7e7e7;
    margin-right: 15px;
    margin-left: 5px;
    padding: 7px 10px;
}

.restaurants {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h2 {
        padding-top: 25px;
        margin-left: 25px;
    }
}

.card {
    position: relative; // Requis pour le tag nouveau
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 25px;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px #e7e7e7;

    & .card_header {
        position: relative;

        & h3 {
            margin: 5px;
            margin-left: 20px;
            font-style: normal;
        }
    
        & p {
            margin: 5px;
            margin-left: 20px;
        }
    
        & .heart {
            font-size: 26px;
            position: absolute;
            top: 50%;
            right: 35px;
        }
    }
}

/* Badge Nouveau */
.card[data-new]::before {
    content: "Nouveau";
    position: absolute;
    top: 15px;
    right: 18px;

    font-family: $font-primary;
    font-weight: 500;
    color: #008766;
    background-color: #99E2D0;
    padding: 7px 9px;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.card a {
    text-decoration: none;
    color: black;
}

.card a:hover {
    cursor: pointer;
    text-decoration: none;
}

.card a:visited {
    text-decoration: none;
    color: black;
}

.card img {
    width: 100%;
    height: 231px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

// Version Tablette
@media (min-width: 768px){
    .logo {
        width: 30%;
        margin-top: 15px;
    }

    .localisation {
        font-size: 22px;
    }

    .intro {
        font-size: 22px;
    }

    .fonction {
        text-align: center;

        & h2 {
            margin-left: 40px;
        }
    }

    .fonction-list p {
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;

        & i {
            font-size: 24px;
            margin-right: 25px;
        }
    }

    .restaurants {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        gap: 20px;

        & h2 {
            width: 100%;
            margin-left: 5%;
        }
    }

    .card {
        width: 40%;
        gap: 5%;
    }

    .card[data-new]::before {
        top: 20px;
        right: 25px;
    }

    .new {
        position: absolute;
        top: 10%;
        left: 65%;
    }
}

@media (min-width: 993px){
    .logo {
        width: 30%;
        margin-top: 30px;
    }

    .intro {
        & h1 {
            font-size: 40px;
        }

        & p {
            font-size: 18px;
        }
    }
    .fonction{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
       
        & h2{
            width: 100%;
        }
    }
    .fonction-propriété{
        justify-content: space-around;
        width: 25%;
    }
    .fonction-list{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

        & p {
            font-size: 16px;
        }
        
    }
    .fonction-list .fonction-propriété{
        gap: 0px;
        justify-content: flex-start;
    }

    .restaurants {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;


    }
    .restaurants h2 {
        width: 100%;
    }

    .card {
        width: 40%;
    }

}
