@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
  margin: 0; /* Supprime la marge par défaut du body */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #e370da, #a05adc);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 0.5s 3s forwards; /* Ajout de l'animation fadeOut */
  
  .loader {
    font-family: 'Shrikhand', cursive;
    font-size: 40px; /* Changement de la taille de la police à 40px */
    font-weight: bold;
    text-align: center;
    
    span {
      display: inline-block;
      opacity: 0;
      transform: translateY(1em);
      animation: fadeInUp 0.5s forwards;
      
      &:nth-child(1) { animation-delay: 0.1s; }
      &:nth-child(2) { animation-delay: 0.2s; }
      &:nth-child(3) { animation-delay: 0.3s; }
      &:nth-child(4) { animation-delay: 0.4s; }
      &:nth-child(5) { animation-delay: 0.5s; }
      &:nth-child(6) { animation-delay: 0.6s; }
      &:nth-child(7) { animation-delay: 0.7s; }
      &:nth-child(8) { animation-delay: 0.8s; }
      &:nth-child(9) { animation-delay: 0.9s; }
      &:nth-child(10) { animation-delay: 1.0s; }
    }
  }

  @keyframes fadeOut {
    to {
      display: none;
    }
  }

  .content {
    opacity: 1; /* Le contenu est initialement invisible */
    transition: opacity 1s ease-in-out; /* Animation de transition pour l'opacité */
  }

}